body {
  padding: 1rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
tr:nth-child(even) {
  background: #f1f7f8;  
}
th,
td {
  border: 1px solid #a0c8cf;
  padding: .75rem;
  text-align: center;
}
th {
  background: #74afb9;
  color: #fff;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
